.calculator {
    width: 21rem;
    background-color: #c8563e;
    margin: auto;
    margin-top: 2rem;
    border: #f38951 5px solid;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.30)
}

.screen {
    border: #f38951 2px solid;
    width: 18rem;
    height: 5rem;
    border-radius: 10px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#buttons {
    width: 18rem;
    margin: auto;
}

.row {
    padding-top: -15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: .5rem;
    width: 18rem;
}

.button {
    border: #f38951 2px solid;
    height: 4rem;
    width: 4rem;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 45px;
    border-radius: 10px;
    background-color: #c8563e;
}

#delete {
    width: 12rem;
    margin: auto;
    margin-bottom: 1rem;
}

.screenText {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 55px;
    margin: 10px;
}

button:hover {
    border: #f38951 4px solid;
}

#hey {
    text-align: center;
    color: #c8563e;
    font-weight: bold;
}

#ac {
    font-size: 35px;
}

#multiply {
    padding-top: 10px;
}


/* Mobile View */
@media screen and (max-width: 320px) {
    .calculator {
        width: 17rem;
        margin: auto;
        margin-top: 1.5rem;
    }

    .screen {
        width: 15rem;
        margin-bottom: 1rem;
    }

    .screenText {
        font-size: 50px;
        margin: 10px;
    }

    .row {
        justify-content: space-between;
        width: 15rem;
        margin-left: 1rem;
        margin-bottom: .5rem;
    }
    
    .button {
        height: 3.5rem;
        width: 3.5rem;
        font-size: 40px;
        
    }

    #ac {
        font-size: 25px;
    }
}