.calculator {
    width: 25rem;
    background-color: #c8563e;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border: #f38951 5px solid;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.30)
}

.screen {
    border: #f38951 2px solid;
    width: 330px;
    margin-top: 30px;
    height: 100px;
    border-radius: 10px;
    margin-left: 30px;
    margin-bottom: 1.5rem;
}

.buttons {
    margin-left: 2.8rem;
    margin-top: 0.5rem;
}

.row {
    padding-top: -15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 330px;
}

.button {
    border: #f38951 2px solid;
    height: 4rem;
    width: 4rem;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 45px;
    
    
    border-radius: 10px;
}

#delete{
    width: 12rem;
    margin-left: 5rem;
}

.screenText {
    height: 65px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 55px;
    margin: 10px;
    margin-top: 15px;
    padding-left: -10px;
    padding-right: -10px;
    border-radius: 10px;
}

button {
    background-color: #c8563e;
}

button:hover {
    border: #f38951 4px solid;
}

#hey {
    text-align: center;
    color: #c8563e;
    font-weight: bold;
}

#ac {
    font-size: 35px;
}

#multiply {
    padding-top: 10px;
}